
body {
    background-color: rgb(71, 71, 240);
    color: white;
}

.my_image {
    width: 120px;
}

.centerForm {
    text-align: center;
    margin: auto;
    width: 40%;
    height: auto;
    min-height: 120px;
    border-color: #818fa6;
    background-color: #9fb0cc;
    overflow: auto;
}

.div1 {
    width: 700px;
    height: 200px;
    border: 1px red;
    box-sizing: border-box;
}
.profile_image {
    width: 70px;
}